*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background-color: #009688;
    height: 20vh;
}

body{
    background-color: #DBDBD3;
    height: 100vh;
    position:relative;
    font-family:lato;
}

#app{
    width: 75%;
    margin: 0 auto;
    height: 95%;
    position: absolute;
    top:1rem;
    bottom: 1rem;
    left: 2rem;
    right:2rem;
    display: flex;
}

.left-sec{
    width: 30%;
    height: 100%;
    background-color: aqua;
}

.right-sec{
    width:70%;
    height: 100%;
    background-color: blue;
}