* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #009688;
    height: 20vh;
}

body {
    height: 100vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-size: .7rem;
    margin-bottom: 0;
}

i {
    color: grey;
    margin: .5rem;
}

img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0.2rem;
}

span {
    font-weight: bold;
    font-size: 0.8rem;
    ;
}

.font-size {
    font-size: 0.6rem;
}

#body {
    background-color: #DBDBD3;
}

#input {
    width: 100%;
}

#app {
    width: 75%;
    margin: 0 auto;
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 2rem;
    right: 2rem;
    display: flex;
}

.left-sec {
    width: 30%;
    height: 100%;
    background-color: #EAEAEA;
}

.right-sec {
    width: 70%;
    height: 100%;
    background-color: #EAEAEA;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.message-structure {
    background-color: #DBDBD2;
}

.message-zone {
    background-image: url('../img/mine.jpg');
    background-size: auto;
    width: 100%;
    height: calc(100% - 49px);
    overflow: auto;
}

.new-message {
    background-color: #8EDAFC;
}

.flex {
    display: flex;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.searchbar {
    width: 100%;
}

.message-zone {
    display: flex;
    flex-direction: column;
}

.slot-message {
    border-radius: 0.5rem;
    padding: 0.2rem;
    display: flex;
    width: auto;
    max-width: 60%;
    height: auto;
    flex-direction: column;
    margin-top: .5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.inviato {
    background-color: lightgreen;
    align-self: flex-end;
    text-align: right;
}

.ricevuto {
    background-color: white;
    align-self: flex-start;
    text-align: left;
}

.sofia {
    border-right: 1px solid lightgray;
}