<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- v3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Font Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap"
        rel="stylesheet">
    <title>vue-Boolzapp</title>
</head>

<body id="body">
    <header></header>

    <div id="app">
        <!-- Sezione di sinistra con l'avatar di Sofia -->
        <section class="left-sec">
            <div class="display-flex border-bottom sofia">
                <div class="flex header-left">
                    <img src="./img/avatar_io.jpg" alt="sofia">
                    <p class="m-0"><span>Sofia</span><br></p>
                </div>
                <div>
                    <i class="fa-regular fa-circle"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- Barra di ricerca -->
            <div class="d-flex mb-2 searchbar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="font-size" placeholder="Cerca contatto" v-model="searchQuery">
            </div>

            <!-- Lista contatti filtrati -->
            <div class="d-flex column">
                <div v-for="(contact, index) in filteredContacts" :key="index" class="contact d-flex m-1"
                    :class="{ 'selected-contact': currentContactIndex === index }" @click="selectContact(index)">
                    <div class="d-flex">
                        <img :src="contact.avatar" :alt="contact.name">
                        <p><span>{{ contact.name }}</span><br>Ultimo messaggio inviato</p>
                    </div>
                    <div>
                        <p>12:00</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sezione di destra con i messaggi -->
        <section class="right-sec">
            <div class="display-flex border-bottom my-bg">
                <div class="flex header-left">
                    <img :src="selectedContact.avatar" :alt="selectedContact.name">
                    <p class="m-0"><span>{{ selectedContact.name }}</span><br>Ultimo accesso oggi alle 12:00</p>
                </div>
                <div>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- Messaggi -->
            <div class="message-zone">
                <div v-for="message in selectedContact.messages" :key="message.date"
                    :class="[message.status, 'slot-message']">
                    <p>{{ message.message }}</p>
                    <small class="message-time">{{ message.date }}</small> <!-- Aggiungi l'orario -->
                </div>


                <!-- Input per nuovo messaggio -->
                <div class="searchbar-bottom d-flex">
                    <input id="last-input" type="text" placeholder="Scrivi un messaggio" v-model="newMessage"
                        @keyup.enter="sendMessage">
                </div>
            </div>
        </section>
    </div>

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs"></script>
    <script src="./js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>